<div class="body" controller="${this.request.controller}" action="${this.request.action}" plugin="${this.request.plugin}">

    <m:movc/>

    <div>
        <table><tbody>
            <tr class="first">
                <td colspan="3" class="first">
                    <div class="firstfirst">
                        <m:body key="firstfirst"/>
                    </div>
                </td>
            </tr>

            <tr class="second">
                <td class="first">
                    <div class="secondfirst">
                        <m:body key="secondfirst"/>
                    </div>
                </td>
                <td class="second">
                    <div class="secondsecond">
                        <m:body key="secondsecond"/>
                    </div>
                </td>
                <td class="third">
                    <div class="secondthird">
                        <m:body key="secondthird"/>
                    </div>
                </td>
            </tr>

            <tr class="third ">
                <td colspan="3" class="first">
                    <div class="thirdfirst">
                        <m:body key="thirdfirst"/>
                    </div>
                </td>
            </tr>

        </tbody></table>
    </div>

</div>