<m:render file="layouts/body/bodyLayout.html" bodies="5" body="firstfirst" >

    <header>
        <div class="wrapper">
            <h1 class="hover">
                <m:render file="_/logo/logo.html"/>
                <a class="text hide" rel="home" href="<m:link controller='start' action='start'/>">MoJS Framework</a>
            </h1>

            <ul class="menu">
                <li><a href="<m:link controller='start' action='contributors'/>">Contributors</a></li>
                <li><a href="<m:link controller='start' action='community'/>">Community</a></li>
                <li><a href="<m:link controller='start' action='download'/>">Download</a></li>
                <li><a href="<m:link controller='start' action='donate'/>">Donate</a></li>
            </ul>
        </div>
    </header>

    <article>
        <h1>The future is here</h1>
        <p class="text1">Advanced Web application development has never been as pure, clean, easy and yet so unobtrusive and free</p>
    </article>

</m:render>

<m:render body="secondfirst">
    Left
</m:render>

<m:render body="secondsecond">
    Middle
</m:render>

<m:render body="secondthird">
    Right
</m:render>

<m:render body="thirdfirst">
   Footer
</m:render>